* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 3000px;
    /* perspective: 700px; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.container{
    width: 80%;
    /* background-color: blueviolet; */
    margin: auto;
    margin-top: 50px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-menu{
    width: 90%;
    list-style-type: none ;
    text-align: center;


}
.header-menu li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.header-menu li a{
    text-decoration: none;
    color: #7b5244;
}
.header-menu li a:hover{
    border: 2px solid  black;
}
.sub-list{
    position: relative;
}
.dropdown-menu {
    width: 400px;
    border: 2px solid  black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-top: 5px;
    position: absolute;
    transform: scale(0);
    transition: transform 1s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dropdown-menu li{
    font-size: 15px;
  }
  .sub-list:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  .header-icon{ 
    width: 15%;
}
  .header-icon-list li{
    display: inline-block;
    list-style-type: none ;
    margin-top: 20px;
    padding-left: 10px;
}
 /* ===============category========================== */
 .category-container{
    width: 80%;
    margin:auto;
 }
 .category-title{
    font-size: 30px;
    text-align: center;
    margin-top:50px;
    margin-bottom: 10px;  
 }
 .category-line{
    width: 100px;
    height: 2px;
    background-color: #7b5244 ;
    margin: auto;
    margin-bottom: 20px;
   
 }
 .category-title1:hover .category-line{
    transform: scale(1.5,1);
    transition-duration: .5s;
 }
 .special-category{
    display: flex;
    justify-content: space-between;
 }
.category-content{
    width: 245px;
    height: 300px; 
    font-size: 19px;
    position: relative;
    
}
.category-content img{
    width: 100%;
    padding-bottom: 20px;
}
.category-content .category-content-title{
    color: rgb(160, 157, 157);
}
/* .category-content-title2{
} */
.category-content i{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: #7b5244 ;
    text-align: center;
    color: white;
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0;
    transition: transform 1s;
    opacity: 0;
    visibility: hidden;   
}
.category-content:hover  i{
    visibility: visible;
    opacity: 1; 
}
/* =================blog==================== */
.blog{
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.blog-item1{
    width:50%;
    height: 350px;
    background-color: #f7f3ef;
    padding-left: 15px;
 
}
.blog-item1-head{
    position: relative;
    margin-top: 20px;
    padding-bottom: 50px;
    
} 
.blog-item1-head i{
    color: #7b5244;
    font-size: 40px;
    position: absolute;
    left: 0;
}
.blog-item1-head h4{
    position: absolute;
    left: 50px;
    font-size:larger;
}
    
.blog-item1-head span{
    position: absolute;
    left: 50px;
    top: 25px;  
}
.blog-item1 p{
    font-size: 17px;
    line-height: 2;
    
}
.blog-item1-line{
    width: 200px;
    height: 20px;
    text-align: right;
    /* background-color: beige; */
    margin-top: 30px;
    margin-left: 270px; 
}
.blog-line{
    width: 50px;
    height: 2px;
    background-color: #7b5244;
    display: inline-block;
    margin-left: 10px;    
}
.blog-item2{
    width:23%;
    height: 350px;
    background-color: #aaec1a;
    position: relative;
    transition: 1s;   
}
.blog-item2 img{
    position: absolute;

}
.blog-item2 h3{    
    position: absolute;
    top: 10px;
    color: #7b5244;

}
.blog-item2 h2{
    position: absolute;
    top: 30px;
}
.blog-item2:hover{
    transform: scale(1.1,1.1) ;
   
}
/* =====================icons============ */
.icons{
    width: 20%;
    height: 100px;
    /* background-color: #a9ec1a4a; */
    text-align: center;
    float: left;
    border: 1px #7b5244;
    border-style: none solid none none;
   
    
 
}
.icon-img1{
    background-image: url(../images/service-icon.png)   ;
    height: 50px;
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: center 10px;
    transition: 1s;  
}
.icons:hover .icon-img1{
    background-position: center -85px; 
}
.icon-img2{
    background-image: url(../images/service-icon.png)   ;
    height: 50px;
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: center -175px;
    transition: 1s;   
}
.icons:hover .icon-img2{
    background-position: center -270px; 
}
.icon-img3{
    background-image: url(../images/service-icon.png)   ;
    height: 50px;
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: center -360px;
    transition: 1s; 
}
.icons:hover .icon-img3{
    background-position: center -455px; 
}
.icon-img4{
    background-image: url(../images/service-icon.png)   ;
    height: 50px;
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: center -545px;
    transition: 1s;    
}
.icons:hover .icon-img4{
    background-position: center -640px; 
}
.icon-img5{
    background-image: url(../images/service-icon.png)   ;
    height: 50px;
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: center -730px;
    transition: 1s; 
}
.icons:hover .icon-img5{
    background-position: center -825px; 
}
.w{
    border-style: none;
}
.line{
    width: 80%;
    height: 2px;
    background-color: #7b5244;
    margin: auto;
    margin-top: 200px;
}
.Products-list{
    width: 500px;
    height: 50px;
    /* background-color: #aaec1a; */
    margin: auto;
}
.Products-list li{
    float: left;
    list-style: none;
    padding-left: 40px;  
}
/* ================product============= */
.product{
    width: 110%;
    height: 550px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-img{
    width: 300px;
    height: 450px;
    position: relative;
    transition: 1s;
/* padding-left: 10px; */

}
.front-img{
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 1; */

    /* background-color: aquamarine; */
}
.back-img{
    width: 100%;
    height: 100%;
    position: absolute;
    transform:scaleX(0);
    transition: 0.5s;
    opacity: 0.7;

}
.product-img:hover .back-img{
    transform:scaleX(1);

}
.icon-contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%  , -50%  );

  
}
.icon-contact i{
    width: 30px;
    height: 30px;
    color: white;
    background-color: #7b5244;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}
.info-img{
    padding-top: 450px;
    /* padding-bottom: 100px; */
}
.info-img .fas {
    color: yellow;
}
